
  .all-times-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .timebox{
      display: flex;
      align-items: center;
      .title{
        font-weight: 100;
        font-size: 42px;
        color: #bbb;
      }
    }
  }
  
  time{
    font-weight: 200;
  }
  svg {
    path {
      &:nth-child(2) {
        stroke-width: 2.7px;
  
      }
    }
  }

.audio-record-content {
  background-color: white;
  height: 90vh;
  padding: 24px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,1);
  box-shadow: 0px 0px 17px 3px rgba(0,0,0,1);
  margin-top: 25px;
}